body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.modal {
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
}

.list img {
  /* transform: translateX(-50%);
  opacity: 0; */
  transition: all 500ms linear;
  width: 640px;
  height: 480px;
  object-fit: cover;
}

.list img.appear {
  opacity: 1;
  transform: translateX(0);
}

.box {
  width: 200px;
  height: 250px;
  padding: 15px;
  background-color: #fff;
}

.scroll-box {
  width: 250px;
  height: 150px;
  border: solid 1px green;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.title-scroll {
  text-align: center;
}

.counter {
  position: absolute;
  left: 47%;
}

.wrapper {
  background-color: rgb(176, 193, 250);
}

.section {
  background-color: aliceblue;
  width: 400px;
  padding: 15px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  position: fixed;
}

.img-zoom {
  scale: 1.5;
}
